

.slide{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.zero{
    background: #ffff;
}

.one{
    background: white;
}

.two{
    background: white;
}

.four{
    background: white;
}

.six{
    background: white;
}


.outer-wrapper{
width: 100vh;
height: 100vw;
transform: rotate(-90deg) translateX(-100vh);
transform-origin: top left;
overflow-y: scroll;
overflow-x: hidden;
position: absolute;
scrollbar-width: none;
-ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

.illustration{
    height: 600px !important;
    margin-left: 10%;
    margin-top: 20%;
}
.illustration2{
    height: 600px !important;
    margin-left: 10%;
    margin-top: 20%;
}
.container{
    position: absolute;
}


.nav{
    color: rgb(163, 163, 163) !important;
    font-family: myFont !important;
    font-size: 20px;
}

.page-footer{
background-color: red;
color: white !important;
margin-top: 90px;
font-size: 10px;
}

.title{
    margin-top: 30%;
    font-size: 90px;
    font-family: myFont !important;
}
.subtitle{
    margin-top: 0;
    font-size: 50px;
    font-family: myFont !important;
    color: black !important;

}

.title1{
    margin-top: 5%;
    font-size: 50px;
    font-family: myFont !important;
    color: black;
}
.subtitle1{
    margin-top: 0;
    font-size: 30px;
    font-family: myFont !important;
    color: black;
}

.paragraph1{
    color: black;
}

.paragraph6{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    margin-top: 200px;
    margin-right: 50px;
}

.title2{
    margin-top: 5%;
    font-size: 50px;
    font-family: myFont !important;
    color: black;
}
.subtitle2{
    margin-top: 0;
    font-size: 30px;
    font-family: myFont !important;
    color: black;
}

.paragraph2{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.title3{
    margin-top: 5%;
    font-size: 50px;
    font-family: myFont !important;
    color: black;
}
.subtitle3{
    margin-top: 0;
    font-size: 30px;
    font-family: myFont !important;
    color: black;
}

.paragraph3{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.smalltitle{
    margin-top: 0;
    font-size: 20px;
    font-family: myFont !important;
    color: rgb(90, 90, 90) !important;
}

.logo{
    position: absolute;
}

.illu1{
    height: 200px;
    margin-left: 45%;
    display:block;
    position: relative;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

  }

  .illu1:hover {
      transform: scale(2); 
  }

  .illu2{
    height: 400px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
    display:block;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

  }

  .illu2:hover {
      transform: scale(1.75); 
  }

  .illu6{
    height: 250px;
    display:block;
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

  }

  .illu6:hover {
      transform: scale(1.75); 
  }


  @font-face {
    font-family: myFont;
    src: url(Assets/Vogue.ttf);
}

